In [22]:
import pandas as pd

df = pd.read_csv('world_gdp_cleaned.csv')
df.head()

,Unnamed: 0,Year,Country Name,Country Code,Current GDP ($),GDP growth (annual %),GDP per capita ($),Gini index,%individuals using internet,Interest payments (% of expense),Interest payments (% of revenue),Land area (sq.km),Life expectancy at birth,Military expenditure (% of GDP),Age
0,0,2016,Afghanistan,AFG,1.811656e+10,2.260314,512.012778,0.0,0.0,0.108067,0.091544,652860.0,63.763000,0.956772,0
1,1,2017,Afghanistan,AFG,1.875347e+10,2.647003,516.679862,0.0,0.0,0.134207,0.109379,652860.0,64.130000,0.945227,1
2,2,2018,Afghanistan,AFG,1.805323e+10,1.189228,485.668419,0.0,0.0,0.160347,0.127214,652860.0,64.486000,1.006746,2
3,3,2019,Afghanistan,AFG,1.879945e+10,3.911603,494.179350,0.0,0.0,0.186487,0.145050,652860.0,64.833000,1.118231,3
4,4,2020,Afghanistan,AFG,2.011614e+10,-2.351101,516.747871,0.0,0.0,0.212627,0.162885,652860.0,65.189667,1.369684,4

In [23]:
df.drop(['Unnamed: 0','Age','%individuals using internet','Life expectancy at birth','Gini index','GDP growth (annual %)'],axis=1,inplace=True)

In [24]:
scaled_list = df.select_dtypes('float').columns.to_list()
scaled_list

['Current GDP ($)',
 'GDP per capita ($)',
 'Interest payments (% of expense)',
 'Interest payments (% of revenue)',
 'Land area (sq.km)',
 'Military expenditure (% of GDP)']

In [25]:
df['Military expenditure (% of GDP)'] = df['Military expenditure (% of GDP)']*df['Current GDP ($)']/100
df

,Year,Country Name,Country Code,Current GDP ($),GDP per capita ($),Interest payments (% of expense),Interest payments (% of revenue),Land area (sq.km),Military expenditure (% of GDP)
0,2016,Afghanistan,AFG,1.811656e+10,512.012778,0.108067,0.091544,652860.0,1.733342e+08
1,2017,Afghanistan,AFG,1.875347e+10,516.679862,0.134207,0.109379,652860.0,1.772628e+08
2,2018,Afghanistan,AFG,1.805323e+10,485.668419,0.160347,0.127214,652860.0,1.817502e+08
3,2019,Afghanistan,AFG,1.879945e+10,494.179350,0.186487,0.145050,652860.0,2.102212e+08
4,2020,Afghanistan,AFG,2.011614e+10,516.747871,0.212627,0.162885,652860.0,2.755276e+08
...,...,...,...,...,...,...,...,...,...
1325,2016,Zimbabwe,ZWE,2.054868e+10,1464.588957,2.747953,4.033116,386850.0,3.580594e+08
1326,2017,Zimbabwe,ZWE,1.758489e+10,1235.189032,3.669340,6.024985,386850.0,2.716774e+08
1327,2018,Zimbabwe,ZWE,1.811554e+10,1254.642265,9.962580,13.473282,386850.0,2.215160e+08
1328,2019,Zimbabwe,ZWE,1.928429e+10,1316.740657,13.569893,18.193365,386850.0,1.347202e+08
1329,2020,Zimbabwe,ZWE,1.805117e+10,1214.509820,17.177206,22.913448,386850.0,6.329404e+07

In [27]:
df.rename({'Military expenditure (% of GDP)':'Military expenditure'},axis=1,inplace=True)

In [18]:
#scale

df[scaled_list].apply(lambda x:x/x.max())

,Current GDP ($),GDP per capita ($),Interest payments (% of expense),Interest payments (% of revenue),Land area (sq.km),Military expenditure (% of GDP)
0,0.000207,0.002702,0.002220,0.001786,0.005024,0.078945
1,0.000214,0.002727,0.002757,0.002134,0.005024,0.077992
2,0.000206,0.002563,0.003295,0.002481,0.005024,0.083068
3,0.000215,0.002608,0.003832,0.002829,0.005024,0.092267
4,0.000230,0.002727,0.004369,0.003177,0.005024,0.113014
...,...,...,...,...,...,...
1325,0.000235,0.007729,0.056460,0.078671,0.002977,0.143775
1326,0.000201,0.006519,0.075392,0.117525,0.002977,0.127476
1327,0.000207,0.006621,0.204695,0.262813,0.002977,0.100894
1328,0.000220,0.006949,0.278812,0.354884,0.002977,0.057642
1329,0.000206,0.006409,0.352929,0.446955,0.002977,0.028932