In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../world_education.csv')
df.head()

,Year,Country Name,Country Code,GDP (current $),"Compulsory education, duration (years)","Current education expenditure, primary (% of total expenditure in primary public institutions)","Current education expenditure, secondary (% of total expenditure in secondary public institutions)","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)","Current education expenditure, total (% of total expenditure in public institutions)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",...,"Educational attainment, at least completed primary, population 25+ years, total (%)","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)",Expenditure on primary education (% of government expenditure on education),Expenditure on secondary education (% of government expenditure on education),Expenditure on tertiary education (% of government expenditure on education),"Government expenditure on education, total (% of GDP)","Government expenditure on education, total (% of government expenditure)"
0,2016,Afghanistan,AFG,18116562464.9088,9,86.3456726074219,86.939697265625,..,..,..,...,..,..,..,..,..,43.30205,21.83389,..,3.5119800567627,13.0909996032715
1,2017,Afghanistan,AFG,18753469630.2586,9,88.640998840332,89.3640975952148,..,..,..,...,..,..,..,..,..,44.1906,22.25369,..,3.37331008911133,12.0332002639771
2,2020,Afghanistan,AFG,20116137325.8206,9,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,10.2538604736328
3,2018,Afghanistan,AFG,18053228578.8878,9,..,..,..,..,..,...,..,..,..,..,..,..,..,..,3.19979000091553,11.6960601806641
4,2019,Afghanistan,AFG,18799450742.7823,9,..,..,..,..,..,...,..,..,..,..,..,..,..,..,3.21377992630005,11.3437700271606

In [2]:
df=df.replace({'..':np.NaN}).fillna(value=np.NaN)#replace all cells with .. with None so that python can evaluate it as missing value
# df.fillna(value=np.NaN,inplace=True)
df.head()

,Year,Country Name,Country Code,GDP (current $),"Compulsory education, duration (years)","Current education expenditure, primary (% of total expenditure in primary public institutions)","Current education expenditure, secondary (% of total expenditure in secondary public institutions)","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)","Current education expenditure, total (% of total expenditure in public institutions)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",...,"Educational attainment, at least completed primary, population 25+ years, total (%)","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)",Expenditure on primary education (% of government expenditure on education),Expenditure on secondary education (% of government expenditure on education),Expenditure on tertiary education (% of government expenditure on education),"Government expenditure on education, total (% of GDP)","Government expenditure on education, total (% of government expenditure)"
0,2016,Afghanistan,AFG,18116562464.9088,9,86.3456726074219,86.939697265625,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43.30205,21.83389,NaN,3.5119800567627,13.0909996032715
1,2017,Afghanistan,AFG,18753469630.2586,9,88.640998840332,89.3640975952148,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.1906,22.25369,NaN,3.37331008911133,12.0332002639771
2,2020,Afghanistan,AFG,20116137325.8206,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2538604736328
3,2018,Afghanistan,AFG,18053228578.8878,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.19979000091553,11.6960601806641
4,2019,Afghanistan,AFG,18799450742.7823,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.21377992630005,11.3437700271606

In [3]:
df.dtypes

Year                                                                                                        int64
Country Name                                                                                               object
Country Code                                                                                               object
GDP (current $)                                                                                            object
Compulsory education, duration (years)                                                                     object
Current education expenditure, primary (% of total expenditure in primary public institutions)             object
Current education expenditure, secondary (% of total expenditure in secondary public institutions)         object
Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)           object
Current education expenditure, total (% of total expenditure in public institutions)                       object
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)          object
Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)         object
Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)          object
Educational attainment, at least completed primary, population 25+ years, total (%)                        object
Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)    object
Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)         object
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)            object
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)                     object
Expenditure on primary education (% of government expenditure on education)                                object
Expenditure on secondary education (% of government expenditure on education)                              object
Expenditure on tertiary education (% of government expenditure on education)                               object
Government expenditure on education, total (% of GDP)                                                      object
Government expenditure on education, total (% of government expenditure)                                   object
dtype: object

In [4]:
object_list = df.select_dtypes(include=['object']).columns.to_list()[2:]
# print(object_list.remove(''))
df[object_list]=df[object_list].astype(float)

df.dtypes

Year                                                                                                         int64
Country Name                                                                                                object
Country Code                                                                                                object
GDP (current $)                                                                                            float64
Compulsory education, duration (years)                                                                     float64
Current education expenditure, primary (% of total expenditure in primary public institutions)             float64
Current education expenditure, secondary (% of total expenditure in secondary public institutions)         float64
Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)           float64
Current education expenditure, total (% of total expenditure in public institutions)                       float64
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)          float64
Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)         float64
Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)          float64
Educational attainment, at least completed primary, population 25+ years, total (%)                        float64
Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)    float64
Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)         float64
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)            float64
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)                     float64
Expenditure on primary education (% of government expenditure on education)                                float64
Expenditure on secondary education (% of government expenditure on education)                              float64
Expenditure on tertiary education (% of government expenditure on education)                               float64
Government expenditure on education, total (% of GDP)                                                      float64
Government expenditure on education, total (% of government expenditure)                                   float64
dtype: object

In [5]:
dic = {2016:0,2017:1,2018:2,2019:3,2020:4}
df['Age']=df['Year'].map(dic)
df.sort_values(['Country Name', 'Age'],inplace=True)
df

,Year,Country Name,Country Code,GDP (current $),"Compulsory education, duration (years)","Current education expenditure, primary (% of total expenditure in primary public institutions)","Current education expenditure, secondary (% of total expenditure in secondary public institutions)","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)","Current education expenditure, total (% of total expenditure in public institutions)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",...,"Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)",Expenditure on primary education (% of government expenditure on education),Expenditure on secondary education (% of government expenditure on education),Expenditure on tertiary education (% of government expenditure on education),"Government expenditure on education, total (% of GDP)","Government expenditure on education, total (% of government expenditure)",Age
0,2016,Afghanistan,AFG,1.811656e+10,9.0,86.345673,86.939697,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,43.30205,21.83389,NaN,3.51198,13.091000,0
1,2017,Afghanistan,AFG,1.875347e+10,9.0,88.640999,89.364098,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,44.19060,22.25369,NaN,3.37331,12.033200,1
3,2018,Afghanistan,AFG,1.805323e+10,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.19979,11.696060,2
4,2019,Afghanistan,AFG,1.879945e+10,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.21378,11.343770,3
2,2020,Afghanistan,AFG,2.011614e+10,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.253860,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,2016,Zimbabwe,ZWE,2.054868e+10,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.47262,23.527081,0
1328,2017,Zimbabwe,ZWE,1.758489e+10,7.0,NaN,NaN,NaN,NaN,3.25141,...,9.41853,12.26489,0.6215,0.03675,NaN,NaN,NaN,5.38106,20.874201,1
1329,2018,Zimbabwe,ZWE,1.811554e+10,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.58728,19.039841,2
1327,2019,Zimbabwe,ZWE,1.928429e+10,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1325,2020,Zimbabwe,ZWE,1.805117e+10,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [6]:
def fill_missing_values(group):
    value_columns = group.select_dtypes(include='number').columns

    for value_col in value_columns:
        values = group[value_col]
        known_values_mask = values.notnull()
        if known_values_mask.sum() > 0:  # If there is at least one known value
            if known_values_mask.sum() > 1:  # If there are more than one known values
                sorted_group = group.sort_values('Age')
                x_known = group.loc[known_values_mask, 'Age']
                y_known = group.loc[known_values_mask, value_col]
                a = (y_known.iloc[-1] - y_known.iloc[0]) / (x_known.iloc[-1] - x_known.iloc[0])
                b = y_known.iloc[0] - (a * x_known.iloc[0])

                missing_mask = values.isnull()
                x_missing = group.loc[missing_mask, 'Age']
                group.loc[missing_mask, value_col] = a * x_missing + b
            else:  # If there is only one known value
                known_value = values[known_values_mask].iloc[0]
                group[value_col].fillna(known_value, inplace=True)


    return group
final = df.reset_index().groupby('Country Name',group_keys=True).apply(fill_missing_values).reset_index(drop=True).drop('index',axis=1)
final

,Year,Country Name,Country Code,GDP (current $),"Compulsory education, duration (years)","Current education expenditure, primary (% of total expenditure in primary public institutions)","Current education expenditure, secondary (% of total expenditure in secondary public institutions)","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)","Current education expenditure, total (% of total expenditure in public institutions)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",...,"Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)",Expenditure on primary education (% of government expenditure on education),Expenditure on secondary education (% of government expenditure on education),Expenditure on tertiary education (% of government expenditure on education),"Government expenditure on education, total (% of GDP)","Government expenditure on education, total (% of government expenditure)",Age
0,2016,Afghanistan,AFG,1.811656e+10,9.0,86.345673,86.939697,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,43.30205,21.83389,NaN,3.51198,13.091000,0
1,2017,Afghanistan,AFG,1.875347e+10,9.0,88.640999,89.364098,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,44.19060,22.25369,NaN,3.37331,12.033200,1
2,2018,Afghanistan,AFG,1.805323e+10,9.0,90.936325,91.788498,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.07915,22.67349,NaN,3.19979,11.696060,2
3,2019,Afghanistan,AFG,1.879945e+10,9.0,93.231651,94.212898,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.96770,23.09329,NaN,3.21378,11.343770,3
4,2020,Afghanistan,AFG,2.011614e+10,9.0,95.526978,96.637299,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,46.85625,23.51309,NaN,3.11438,10.253860,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325,2016,Zimbabwe,ZWE,2.054868e+10,7.0,NaN,NaN,NaN,NaN,3.25141,...,9.41853,12.26489,0.6215,0.03675,NaN,NaN,NaN,5.47262,23.527081,0
1326,2017,Zimbabwe,ZWE,1.758489e+10,7.0,NaN,NaN,NaN,NaN,3.25141,...,9.41853,12.26489,0.6215,0.03675,NaN,NaN,NaN,5.38106,20.874201,1
1327,2018,Zimbabwe,ZWE,1.811554e+10,7.0,NaN,NaN,NaN,NaN,3.25141,...,9.41853,12.26489,0.6215,0.03675,NaN,NaN,NaN,3.58728,19.039841,2
1328,2019,Zimbabwe,ZWE,1.928429e+10,7.0,NaN,NaN,NaN,NaN,3.25141,...,9.41853,12.26489,0.6215,0.03675,NaN,NaN,NaN,2.64461,16.796221,3
1329,2020,Zimbabwe,ZWE,1.805117e+10,7.0,NaN,NaN,NaN,NaN,3.25141,...,9.41853,12.26489,0.6215,0.03675,NaN,NaN,NaN,1.70194,14.552601,4

In [7]:
final.fillna(value=0,inplace=True)

In [8]:
from ydata_profiling import  ProfileReport
prof = ProfileReport(final,title='eda',explorative=True,dark_mode=True)
prof.to_file('output_file_cleaned.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
final.to_csv('world_education_cleaned.csv')